{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        {{ wtf.quick_form(form) }}
        <br>
        <p>Nouveau ? <a href="{{ url_for('auth.register') }}">Créer un compte!</a></p>
    </div>
    <div class="col-sm-4"></div>
</div>


{% endblock %}


{% block styles %}
{{super()}}
<style>
.jumbotron {
background: #D26D9E;
background: -webkit-linear-gradient(top left, #D26D9E, #CBBAEE);
background: -moz-linear-gradient(top left, #D26D9E, #CBBAEE);
background: linear-gradient(to bottom right, #D26D9E, #CBBAEE);
}
</style>
{% endblock %}