{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row mt-5">
    <div class="col-sm-12">
        <table class="table table-hover data-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Âge</th>
                <th>Carte de réduction</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.pseudo }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.age }}</td>
                <td>Carte</td>
                <td>
                    <a href="{{ url_for('edit.delete_client', id=client.id) }}" class="btn btn-danger btn-sm">
                        <span class="fas fa-trash"></span> Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
{% include "edit/_data_table.html" %}
{% endblock %}