{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<div class="row">
    <div class="col-sm-2">
        <h3>Ajouter une réduction</h3>
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-sm-10">
        <h2>Liste des réductions</h2>
        <table class="table table-hover data-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Type</th>
                <th>Réduction</th>
                <th>Prix</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for reduction in reductions %}
            <tr>
                <td>{{ reduction.id }}</td>
                <td>{{ reduction.type }}</td>
                <td>{{ reduction.pourcentage }} %</td>
                <td>{{ reduction.prix }} €</td>
                <td>
                    <a href="{{ url_for('edit.delete_reduction', id=reduction.id) }}"
                       class="btn btn-danger btn-sm">
                        <span class="fas fa-trash"></span> Supprimer
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
{% include "scripts/_data_table.html" %}
{% endblock %}

{% block styles %}
{{super()}}
<style>
.jumbotron {
background: #F3BA8D;
background: -webkit-linear-gradient(top left, #F3BA8D, #BF4E4E);
background: -moz-linear-gradient(top left, #F3BA8D, #BF4E4E);
background: linear-gradient(to bottom right, #F3BA8D, #BF4E4E);
}
</style>
{% endblock %}