{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<dir class="row">
    <div class="col-sm-2">
        <h3>Ajouter une voiture</h3>
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-sm-10">
        <h2>Liste des voitures</h2>
        <table class="table data-table">
            <thead>
            <tr>
                <th>Voiture id</th>
                <th>Voiture n°</th>
                <th>Classe</th>
                <th>Capacité</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.id }}</td>
                <td>{{ voiture.numVoiture }}</td>
                {% if voiture.classe1 %}
                <td>1ere Classe</td>
                {% else %}
                <td>2nde Classe</td>
                {% endif %}
                <td>{{ voiture.places.count() }}</td>
                <td>
                    <a href="{{ url_for('edit.delete_voiture', numTrain=train.numTrain, idVoiture=voiture.id) }}"
                       class="btn btn-danger btn-sm">
                        <span class="fas fa-trash"></span> Supprimer
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</dir>

{% endblock %}

{% block scripts %}
{{super()}}
{% include "scripts/_data_table.html" %}
{% endblock %}

{% block styles %}
{{super()}}
<style>
.jumbotron {
background-image: url('{{url_for('static', filename='tgv.jpg')}}');
background-size: cover;
background-position: center;
}
</style>
{% endblock %}