{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
        {{ wtf.quick_form(form) }}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover data-table">
            <thead>
            <tr>
                <th>Train n°</th>
                <th>Nombre de voitures</th>
                <th>Nombre de voitures 1ere classe</th>
                <th>Capacité totale</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for train in trains %}
            <tr class="clickable-row" data-href="{{ url_for('edit.edit_train', numTrain=train.numTrain) }}"
                style="cursor:pointer">
                <td>{{ train.numTrain }}</td>
                <td>{{ train.nbVoitures }}</td>
                <td>{{ train.nbClasse1 }}</td>
                <td>{{ train.capacite }}</td>
                <td>
                    <a href="{{ url_for('edit.delete_train', numTrain=train.numTrain) }}" class="btn btn-danger btn-sm">
                        <span class="fas fa-trash"></span> Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
{% include "scripts/_clickable_row.html" %}
{% include "scripts/_data_table.html" %}
{% endblock %}

{% block styles %}
{{super()}}
<style>
.jumbotron {
background: #C5D4D2;
background: -webkit-linear-gradient(top left, #C5D4D2, #7A9AC8);
background: -moz-linear-gradient(top left, #C5D4D2, #7A9AC8);
background: linear-gradient(to bottom right, #C5D4D2, #7A9AC8);
}
</style>
{% endblock %}