{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<dir class="row">
    <div class="col-sm-2">
        {{ wtf.quick_form(form) }}
    </div>
</dir>

<div class="row">
    <div class="col-sml-12">
        <table class="table">
            <thead>
            <tr>
                <th>Voiture id</th>
                <th>Voiture n°</th>
                <th>Capacité</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for voiture in voitures %}
            <tr>
                <th>{{ voiture.id }}</th>
                <th>{{ voiture.numVoiture }}</th>
                <th>{{ voiture.places.count() }}</th>
                <th>
                    <a href="{{ url_for('edit.delete_voiture', numTrain=train.numTrain, idVoiture=voiture.id) }}"
                       class="btn btn-danger btn-sm">
                        <span class="fas fa-trash"></span> Delete
                    </a>
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}