{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3>Détails du trajet</h3>
                    </div>
                    <div class="panel-body">
                        <h4>{{ gareDepart.ville }} - {{ gareDepart.nom }}</h4>
                        <h5>{{ voyage.horaireDepart.strftime('%a %d/%m/%Y %H:%M') }}</h5>
                        Vers
                        <h4>{{ gareArrivee.ville }} - {{ gareArrivee.nom }}</h4>
                        <h5>{{ voyage.horaireArrivee.strftime('%a %d/%m/%Y %H:%M') }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>Tarifs</h3>
                    </div>
                    <div class="panel-body">
                        <h4>1ere classe</h4>
                        <h5>{{ voyage.prixClasse1 }} €</h5>
                        <br>
                        <h4>2nde classe</h4>
                        <h5>{{ voyage.prixClasse2 }} €</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-9">
        <table class="table data-table">
            <thead>
            <tr>
                <th>Billet id</th>
                <th>Voiture</th>
                <th>Place n°</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for billet in billets %}
            <tr>
                <td>{{ billet.id }}</td>
                <td>{{ billet.place.voiture.numVoiture }}</td>
                <td>{{ billet.place.numPlace }}</td>
                <td>{{ billet.client.nom }}</td>
                <td>{{ billet.client.prenom }}</td>
                <td>
                    <a href="#" class="btn btn-danger btn-sm">
                        <span class="fas fa-trash"></span> Supprimer
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block styles %}
{{super()}}
<style>
.jumbotron {
background-image: url('{{url_for('static', filename='rails.jpg')}}');
background-size: cover;
background-position: center;
color: white;
}
</style>
{% endblock %}

{% block scripts %}
{{super()}}
{% include "scripts/_data_table.html" %}
{% endblock %}
