{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-12">
        <table class="table table-hover data-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Ville de départ</th>
                <th>Gare de départ</th>
                <th>Ville d'arrivée</th>
                <th>Gare d'arrivée</th>
                <th>Horaire de départ</th>
                <th>Horaire d'arrivée</th>
                <th>Train n°</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for voyage in voyages %}
            <tr class="clickable-row" data-href="{{ url_for('edit.edit_voyage', id=voyage.id) }}"
                style="cursor:pointer">
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.gareDepart.ville }}</td>
                <td>{{ voyage.gareDepart.nom }}</td>
                <td>{{ voyage.gareArrivee.ville }}</td>
                <td>{{ voyage.gareArrivee.nom }}</td>
                <td>{{ voyage.horaireDepart }}</td>
                <td>{{ voyage.horaireArrivee }}</td>
                <td>{{ voyage.numTrain }}</td>
                <td>
                    <a href="{{ url_for('edit.delete_voyage', id=voyage.id) }}" class="btn btn-danger btn-sm">
                        <span class="fas fa-trash"></span> Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
{% include "edit/_clickable_row.html" %}
{% include "edit/_data_table.html" %}
{% endblock %}