{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='bootstrap-datetimepicker.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block app_content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class='row'>
        <div class='col-sm-4'>
            <div class='form-group {% if form.gareDepart.errors %}has-error has-feedback{% endif %}'>
                {{ form.gareDepart.label(class_="control-label") }}
                {{ form.gareDepart(class_="form-control gareDepart_select") }}
                {% for error in form.gareDepart.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class='col-sm-4'>
            <div class='form-group {% if form.horaireDepart.errors %}has-error{% endif %}'>
                {{ form.horaireDepart.label(class_="control-label") }}
                {{ form.horaireDepart(class_="form-control horaireDepart_select") }}
                {% for error in form.horaireDepart.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class='col-sm-4'>
            <div class='form-group {% if form.train.errors %}has-error{% endif %}'>
                {{ form.train.label(class_="control-label") }}
                {{ form.train(class_="form-control train_select") }}
                {% for error in form.train.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-sm-4'>
            <div class='form-group {% if form.gareArrivee.errors %}has-error{% endif %}'>
                {{ form.gareArrivee.label(class_="control-label") }}
                {{ form.gareArrivee(class_="form-control gareArrivee_select") }}
                {% for error in form.gareArrivee.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class='col-sm-4'>
            <div class='form-group {% if form.horaireArrivee.errors %}has-error{% endif %}'>
                {{ form.horaireArrivee.label(class_="control-label text-error") }}
                {{ form.horaireArrivee(class_="form-control horaireArrivee_select") }}
                {% for error in form.horaireArrivee.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class='col-sm-2'>
            <div class='form-group {% if form.prixClasse1.errors %}has-error{% endif %}'>
                {{ form.prixClasse1.label(class_="control-label") }}
                {{ form.prixClasse1(class_="form-control") }}
                {% for error in form.prixClasse1.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class='col-sm-2'>
            <div class='form-group {% if form.prixClasse2.errors %}has-error{% endif %}'>
                {{ form.prixClasse2.label(class_="control-label") }}
                {{ form.prixClasse2(class_="form-control") }}
                {% for error in form.prixClasse2.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class='row'>
        <div class="col-sm-8"></div>
        <div class='col-sm-4'>
            <div class='form-group'>
                {{ form.submit(class_="btn btn-default") }}
            </div>
        </div>
    </div>

</form>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover data-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Gare de départ</th>
                <th>Gare d'arrivée</th>
                <th>Horaire de départ</th>
                <th>Horaire d'arrivée</th>
                <th>Train n°</th>
                <th>1ere classe</th>
                <th>2nde classe</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for voyage in voyages %}
            <tr class="clickable-row" data-href="{{ url_for('edit.edit_voyage', id=voyage.id) }}"
                style="cursor:pointer">
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.gareDepart.ville }} - {{ voyage.gareDepart.nom }}</td>
                <td>{{ voyage.gareArrivee.ville }} - {{ voyage.gareArrivee.nom }}</td>
                <td>{{ voyage.horaireDepart }}</td>
                <td>{{ voyage.horaireArrivee }}</td>
                <td>{{ voyage.numTrain }}</td>
                <td>{{ voyage.prixClasse1 }} €</td>
                <td>{{ voyage.prixClasse2 }} €</td>
                <td>
                    <a href="{{ url_for('edit.delete_voyage', id=voyage.id) }}" class="btn btn-danger btn-sm">
                        <span class="fas fa-trash"></span> Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-datetimepicker.min.js') }}"
        charset="UTF-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-datetimepicker.fr.js') }}"
        charset="UTF-8"></script>
<script type="text/javascript">
$('.horaireDepart_select').datetimepicker({
        language: 'fr',
        weekStart: 1,
		autoclose: 1,
		todayHighlight: 1,
		startDate: '{{ startDate }}',
		startView: 2,
		minuteStep: 10,
		format: 'dd/mm/yyyy hh:ii'
    });

$('.horaireArrivee_select').datetimepicker({
    language: 'fr',
	autoclose: 1,
	startView: 1,
	minuteStep: 10,
	format: 'dd/mm/yyyy hh:ii'
});
</script>
{% include "scripts/_select_gare.html" %}
{% include "scripts/_select_train.html" %}
{% include "scripts/_select_horaire.html" %}
{% include "scripts/_clickable_row.html" %}
{% include "scripts/_data_table.html" %}
{% endblock %}