{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
{% endblock %}


{% block title %}
{% if title %}{{ title }} - SNCF{% else %}{{ 'SNCF' }}{% endif %}
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-default">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('edit.edit_index') }}"><span
                        class="fas fa-pen"></span></a></li>
                {% endif %}
                <li><a href="{{ url_for('main.index') }}">Accueil</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.moncompte') }}">Mon profil</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.login') }}">Me connecter</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.logout') }}">Me déconnecter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="row m-0">
        <div class="col-sm-12 alert alert-{{ category }} m-0" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% include "_title.html" %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}
