{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<br>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 text-center">
        <i class="fa fa-cogs" style="font-size:50px; color: #03A9F4"></i>
        <br><br>
        <h2>Administrateur</h2>
        <br>
        <h4>Parcourez la base de données, éditez et supprimez à votre convenance</h4>
    </div>

    <div class="col-sm-4 text-center">
        <i class="fa fa-users" style="font-size:50px; color: #03A9F4"></i>
        <br><br>
        <h2>Clients</h2>
        <br>
        <h4>Connectez-vous ou créez un compte pour réserver un train</h4>
    </div>
</div>

<br>
<div class="row">

</div>

{% endblock %}

{% block styles %}
{{super()}}
<style>
.jumbotron {
background-image: url('{{url_for('static', filename='perrache.jpg')}}');
background-size: cover;
background-position: center;
color: white;
}
</style>
{% endblock %}

