{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="container">
    <h2>Mon compte client</h2>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Portefeuille: {{ current_user.argent}} €</h3>
                </div>
                <div class="panel-body">
                    {{ wtf.quick_form(form_portefeuille, form_type="horizontal", horizontal_columns =('sm', 2, 10)) }}
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if reduction is none %}
                    <h3>Pas de réduction</h3>
                    {% else %}
                    <h3>{{ reduction.type }}</h3>
                    <h4 class="panel-title">Réduction: {{ reduction.pourcentage }} %</h4>
                    {% endif %}
                </div>

                <div class="panel-body">
                    <p>Les cartes de réductions permettent d'obtenir des réductions sur les billets à l'achat</p>
                </div>

                <div class="panel-footer">
                    {% if reduction is none %}
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#acheterReduction">
                        Acheter une carte de réduction
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#acheterReduction">
                        Changer de carte de réduction
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-4 collapse" id="acheterReduction">
            {{ wtf.quick_form(form_reduction) }}
        </div>

    </div>
</div>

<div class="container">

    <h2>Mes billets</h2>

    <table class="table table-hover data-table">
        <thead>
        <tr>
            <th>Gare de départ</th>
            <th>Gare d'arrivée</th>
            <th>Horaire de départ</th>
            <th>Horaire d'arrivée</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
        <tr class="clickable-row" data-href="{{ url_for('edit.edit_voyage', id=voyage.id) }}"
            style="cursor:pointer">
            <td>{{ voyage.gareDepart.ville }} - {{ voyage.gareDepart.nom }}</td>
            <td>{{ voyage.gareArrivee.ville }} - {{ voyage.gareArrivee.nom }}</td>
            <td>{{ voyage.horaireDepart.strftime('%a %d/%m/%Y %H:%M') }}</td>
            <td>{{ voyage.horaireArrivee.strftime('%a %d/%m/%Y %H:%M') }}</td>
            <td>
                <a href="#" class="btn btn-danger btn-sm">
                    <span class="fas fa-trash"></span> Supprimer
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block styles %}
{{super()}}
<style>
.jumbotron {
background: #E995AE;
background: -webkit-linear-gradient(top left, #E995AE, #87A9C5);
background: -moz-linear-gradient(top left, #E995AE, #87A9C5);
background: linear-gradient(to bottom right, #E995AE, #87A9C5);
}

</style>
{% endblock %}

{% block scripts %}
{{super()}}
{% include "scripts/_data_table.html" %}
{% endblock %}
