{% extends "base.html" %}

{% block app_content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class='row'>
        <div class='col-sm-3'>
            <div class='form-group'>
                {{ form.classe.label(class_="control_label") }}
                {{ form.classe(class_="form-control classe_select") }}
            </div>
        </div>
        <div class='col-sm-3'>
            <div class='form-group'>
                {{ form.voiture.label(class_="control_label") }}
                {{ form.voiture(class_="form-control voiture_select") }}
            </div>
        </div>
        <div class='col-sm-3'>
            <div class='form-group'>
                {{ form.place.label(class_="control_label") }}
                {{ form.place(class_="form-control place_select") }}
            </div>
        </div>
        <div class='col-sm-3'>
            <div class='form-group'>
                {{ form.submit(class_="btn btn-default") }}
            </div>
        </div>

    </div>

</form>

{% endblock %}


{% block scripts %}
{{super()}}
{% include "scripts/_select_place.html" %}
{% endblock %}