{% extends "base.html" %}

{% block app_content %}

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>Voiture</th>
                <th>Place n°</th>
                <th>Prix</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for billet in billets %}
            <tr>
                <td>{{ billet.place.voiture.numVoiture }}</td>
                <td>{{ billet.place.numPlace }}</td>
                <td>{{ billet.prix }} €</td>
                <td>
                    <a href="#" class="btn btn-primary btn-sm">
                        <span class="fas fa-ticket-alt"></span> Acheter
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
